In [3]:
from pyspark import SparkContext

In [53]:
from pyspark import SparkConf
from pyspark.sql.functions import sum as spark_sum, avg as spark_avg

In [54]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
spark = SparkSession.builder.getOrCreate()

In [55]:
df = spark.createDataFrame([('201','10/13/2017', '100', 'NY', '131', '100.00'), 
 ('204', '10/18/2017', '700', 'TX', '129', '450.00'),
 ('202', '10/15/2017', '203', 'CA', '121', '200.00'),
 ('206', '10/19/2017', '202', 'CA', '131', '500.00'),
 ('203', '10/17/2017', '101', 'NY', '173', '750.00'),
 ('205', '10/19/2017', '202', 'TX', '121', '200.00'),
 ('203', '10/17/2017', '101', 'NY', '173', '50.00')], ('Id string, Timestamp string, Customer string, State string, ServiceID string, Amount string'))

In [36]:
df.show()

+---+----------+--------+-----+---------+------+
| Id| Timestamp|Customer|State|ServiceID|Amount|
+---+----------+--------+-----+---------+------+
|201|10/13/2017|     100|   NY|      131|100.00|
|204|10/18/2017|     700|   TX|      129|450.00|
|202|10/15/2017|     203|   CA|      121|200.00|
|206|10/19/2017|     202|   CA|      131|500.00|
|203|10/17/2017|     101|   NY|      173|750.00|
|205|10/19/2017|     202|   TX|      121|200.00|
|203|10/17/2017|     101|   NY|      173| 50.00|
+---+----------+--------+-----+---------+------+

In [37]:
filtered_df = df.filter(df.Id > 201)

In [38]:
filtered_df.show()

+---+----------+--------+-----+---------+------+
| Id| Timestamp|Customer|State|ServiceID|Amount|
+---+----------+--------+-----+---------+------+
|204|10/18/2017|     700|   TX|      129|450.00|
|202|10/15/2017|     203|   CA|      121|200.00|
|206|10/19/2017|     202|   CA|      131|500.00|
|203|10/17/2017|     101|   NY|      173|750.00|
|205|10/19/2017|     202|   TX|      121|200.00|
|203|10/17/2017|     101|   NY|      173| 50.00|
+---+----------+--------+-----+---------+------+

In [45]:
df.withColumn('Salary', col('Amount').cast('float')*3.4).show()

+---+----------+--------+-----+---------+------+------+
| Id| Timestamp|Customer|State|ServiceID|Amount|Salary|
+---+----------+--------+-----+---------+------+------+
|201|10/13/2017|     100|   NY|      131|100.00| 340.0|
|204|10/18/2017|     700|   TX|      129|450.00|1530.0|
|202|10/15/2017|     203|   CA|      121|200.00| 680.0|
|206|10/19/2017|     202|   CA|      131|500.00|1700.0|
|203|10/17/2017|     101|   NY|      173|750.00|2550.0|
|205|10/19/2017|     202|   TX|      121|200.00| 680.0|
|203|10/17/2017|     101|   NY|      173| 50.00| 170.0|
+---+----------+--------+-----+---------+------+------+

In [46]:
row_count = df.count()

In [47]:
row_count

7

In [64]:
salarySum = df.select(spark_sum(df.Amount)).collect()[0][0]

In [65]:
salarySum

2250.0

In [66]:
salaryAvg = df.select(spark_avg(df.Amount)).collect()[0][0]

In [67]:
salaryAvg

321.42857142857144

In [68]:
df.write.csv('sample.csv', header='False')

In [70]:
spark.read.csv('sample.csv', header=False).show()

+---+----------+---+---+---+------+
|_c0|       _c1|_c2|_c3|_c4|   _c5|
+---+----------+---+---+---+------+
|206|10/19/2017|202| CA|131|500.00|
|204|10/18/2017|700| TX|129|450.00|
|201|10/13/2017|100| NY|131|100.00|
|202|10/15/2017|203| CA|121|200.00|
|205|10/19/2017|202| TX|121|200.00|
|203|10/17/2017|101| NY|173|750.00|
|203|10/17/2017|101| NY|173| 50.00|
+---+----------+---+---+---+------+