In [30]:
import pandas as pd
import numpy as np

In [31]:
df = pd.read_csv('./hepatitis_csv.csv')

In [32]:
df.describe()

,age,bilirubin,alk_phosphate,sgot,albumin,protime
count,155.000000,149.000000,126.000000,151.00000,139.000000,88.000000
mean,41.200000,1.427517,105.325397,85.89404,3.817266,61.852273
std,12.565878,1.212149,51.508109,89.65089,0.651523,22.875244
min,7.000000,0.300000,26.000000,14.00000,2.100000,0.000000
25%,32.000000,0.700000,74.250000,31.50000,3.400000,46.000000
50%,39.000000,1.000000,85.000000,58.00000,4.000000,61.000000
75%,50.000000,1.500000,132.250000,100.50000,4.200000,76.250000
max,78.000000,8.000000,295.000000,648.00000,6.400000,100.000000

In [33]:
df.drop(columns=['sex','protime'], inplace=True)

In [34]:
df.dropna(inplace=True)

In [35]:
arr = df.to_numpy()

In [37]:
np.random.shuffle(arr)

In [39]:
train = arr[:int(len(arr)*.9)]
test = arr[int(len(arr)*.9):]

In [40]:
len(train)

100

In [41]:
len(test)

12